@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-roboto), sans-serif;
}
html, body {
  overflow-x: hidden;
}



/* for nav button */
.nav-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.button-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  position: relative;
  color: #929395;
  font-weight: 600;
}

.button-link:hover{
  color: #0BA5EC;
}

.name, .alt-name {
  display: block;
  font-size: 16px;
  transition: transform 0.4s ease;
}

.alt-name {
  position: absolute;
  bottom: -100%;
  left: 0;
}

.nav-button:hover .alt-name {
  transform: translateY(-100%);
}

.nav-button:hover .name {
  transform: translateY(-100%);
}



/*  tabs */
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
